.title {
    text-align: center;
    font-family: arial, sans-serif;
    font-size: 20px;
}

.input-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.data {
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 40%;
}
  
.data td, .data th {
    border: 1px solid #ddd;
    padding: 8px;
}

.data tr:nth-child(even) {
    background-color: #f2f2f2;
}

.data tr:hover {
    background-color: #ddd;
}

.data th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: var(--text-color);
    color: var(--background-color);
}