.stats-container {
    height: 75vh;
    width: 100%;
}

/* .stats-line {
    height: 90%;
    width: 5vh;
    margin-left: 5vh;
    background: var(--text-color);
} */

.stats-line {
    height: 1vh;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: var(--text-color);
}

.stats-header {
    text-align: center;
    font-size: 36px;
    color: var(--text-color);
}

.stats-subheader {
    padding-left: 10vh;
    color: var(--text-color);
}