.stats-container {
    height: 100%;
    width: 100%;
}

.stats-line {
    height: 12px;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: var(--text-color);
}

.stats-header {
    text-align: center;
    font-size: 36px;
    color: var(--text-color);
}

.stats-subheader {
    padding-left: 10vh;
    color: var(--text-color);
}