:root {
    --darkblue: #1c2237;
    --gray: #708090;
    --white: #fff;
}
  
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
} */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    background: var(--background-color);
    color: var(--text-color);
    transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}

body.light {
    --background-color: var(--white);
    --text-color: var(--darkblue);
}

body.dark {
    --background-color: var(--gray);
    --text-color: var(--white);
}